/*
 * Dummy devices (replace them with your own or something else entirely!)
 */


.product-device {
  position: absolute;
  right: 3%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
}

.product-device-2 {
  position: absolute;
  top: +20%;
  right: auto;
  bottom: 0;
  width: 300px;
  height: 300px;
  left: 5%;
  background-color: #e5e5e5;
  border-radius: 21px;
}
