<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Download</h1>
  <div class="col-6 col-md">
    <a href="assets/bin/tls-client-android.apk" download="{{rootComponent.title}}.apk"><img src="assets/img/android.png" width="80"/></a>
    <br><br><h5>available soon</h5>
    <img src="assets/img/java.svg" width="90"/>
    <img src="assets/img/git.png" width="60"/>
    <!--<a href="assets/bin/tls-client-cli.jar" download="{{rootComponent.title}}.jar"><img src="assets/img/java.svg" width="90"/></a>-->
    <!--<a href="https://gitlab.lrz.de/middlebox-detection/tls-interception"><img src="assets/img/git.png" width="60"/></a>-->
  </div>
</div>
