<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Privacy Policy</h1>

    <div class="text-left">
Johannes Schleger built the intercepTLS app as an Open Source app. This SERVICE is provided by Johannes Schleger at no cost and is intended for use as is.
<br><br>
This page is used to inform website visitors regarding the policies with the collection, use, and disclosure of Personal Information if anyone decided to use the Service.
<br><br>
If you choose to use the Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that I collect is mainly used for research, but also for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.
<br><br>
<h5>Information Collection and Use</h5>
We collect following data:
<div class="ml-4">
- TLS handshake<br>
- Network type (WIFI, CELLULAR, ETHERNET)<br>
- Public IP address<br>
- DNS IP address and mac address<br>
- Default Gateway IP address and mac address<br>
- Location with a precision of ±1.1km (opt-out)<br>
</div>

This data is shared with our analysis server (opt-out).
<br><br>
The app does not use third party services that may collect information used to identify you.
<br><br>
Link to privacy policy of third party service providers used by the app: <a href="https://www.google.com/policies/privacy/">Google Play Services</a>
<br><br>
<!--
<h5>Log Data</h5>
I want to inform you that whenever you use the Service, in a case of an error in the app I collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing the Service, the time and date of your use of the Service, and other statistics.
<br><br>-->
<h5>Cookies</h5>
We do not use cookies.
<br><br>
<h5>Service Providers</h5>
I may employ resources of the Technical University of Munich due to the following reasons:
<div class="ml-4">
    -To facilitate our Service;<br>
    -To provide the Service on our behalf;<br>
    -To perform Service-related services; or<br>
    -To assist us in analyzing how our Service is used.<br>
</div>
<br>
I want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
<br><br>
<h5>Security</h5>
I value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.
<br><br>
<h5>Links to Other Sites</h5>
This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
<br><br>
<h5>Children’s Privacy</h5>
These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. In the case I discover that a child under 13 has provided me with personal information, I immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact me so that I will be able to do necessary actions.
<br><br>
<h5>Changes to This Privacy Policy</h5>
I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
<br><br>
<h5>Contact Us</h5>
If you have any questions or suggestions about the Privacy Policy, do not hesitate to <a href="about">contact me</a>.
    </div>
</div>
