<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Frequently Asked Questions</h1>
  <br>
  <h5>Will there be a client for good old desktop?</h5>
  <p class="ml-5 mr-5 pl-5 pr-5">
  Yes, a desktop client is in development. However, at the moment we support Ubuntu (and equivalents) and Mac OS X only.
  You are welcome to add support for other operating systems.
  </p>
  <br>

  <h5>What if the middlebox intercepts not all connections, but only some (selective interception)?</h5>
  <p class="ml-5 mr-5 pl-5 pr-5">
    You can deploy our TLS Capture Server in your own environment. In that case feel free to contact us
    such that the server is added to the list of probed hosts.
  </p>
  <br>
    Feel free to ask more, see <a href="about">contact</a>.

</div>
