<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Download</h1>
  <div class="col-6 col-md">

    <table class="table text-center">
      <tr>
        <th>CLI client</th>
        <th>Android client</th>
        <th>Source code</th>
      </tr>
     <tr>
       <td><a href="assets/bin/tls-client-cli.jar" download><img src="assets/img/java.svg" width="70"/></a></td>
       <td><a href='http://play.google.com/store/apps/details?id=de.tum.in.net.interceptls'><img alt='Get it on Google Play' src='assets/img/google-play-badge.png' width="180"/></a></td>
       <td><a href="https://github.com/tumi8/interceptls"><img src="assets/img/github.png" width="100"/></a></td>
     </tr>
   </table>
  </div>
</div>
