<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Features</h1>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Notification</h2>
      <p class="lead">We notify you immediately<br>when an interception is detected</p>
    </div>
    <img src="assets/img/notification.png" width="300"/>
  </div>
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Detailed TLS handshake</h2>
      <p class="lead">Have a closer look at the interception<br>and see what's different</p>
    </div>
    <img src="assets/img/details.png" width="300"/>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Selective interception?</h2>
      <p class="lead">Deploy the TLS Capture Server in your own environment</p>
      <a class="btn btn-outline-secondary text-white" href="faq">See FAQ</a>
    </div>
    <img src="assets/img/bash.png" width="300"/>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Relax</h2>
      <p class="lead">The app runs smoothly without your attention in the background. We take care of everything.</p>
    </div>
    <img src="assets/img/lazy.png" width="200"/>
  </div>
</div>

</div>
